.main {
    background: url('../graphics/heartBackg.png') repeat;
    filter: alpha(opacity=40);
    opacity: 0.5;
    height: 1000px;
    width: 1000px;
}

.container {
    position: absolute;
    margin: 0 auto;
    margin-top: -900px;
}

.heart {
    margin: 0 auto;
    background: url('../graphics/The-heart.png');
    background-size: contain;
    width: 800px;
    height: 800px;
}

.imageBorder {
    position: absolute;
    margin: 0 auto;
    margin-top: 200px;
    margin-left: 200px;
}

.imageBorder,
img {
    width: 400px;
    height: 300px;
    border-radius: 5px;
}

.buttons {
    text-align: center;
    padding-top: 520px;
    /* margin-left: 480px;
    margin-top: -250px; */
}

.autoplaySettings{
    text-align: center;
}